.model
{
    position:fixed;
    top:20%;
    left:30%;
    width:40%;
    background-color:white;
    padding:1rem;
    box-shadow: 0 2px 8 px rebeccapurple;
    display:none;
}

@media(max-width:48rem)
{
    .model{
        left:calc(50% - 20rem);
        width:40rem;
    }
}


#backdrop
{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.05);
    display: none;
}


