body{
    margin:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:indigo;
    background-color: blueviolet;
}

#main-header
{
    background-color: darkmagenta;
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
    padding: 2rem 5%;
}

.btn
{
    font:inherit;
    padding:0.5rem 1.5rem;
    background-color: yellow;
    border:1px solid yellow;
    color:white;
    border-radius: 3px;
    cursor:pointer;
}

.btn:hover
{
    background-color: transparent;
    border-color: transparent;
    color:yellowgreen
}
